a {
  padding-top: 20px;
  color: #fff;
  transition: 0.5s all;
  &:visited, &:hover {
    color: #fff;
    text-decoration: underline;
  }

  .fa {
    margin-left: 15px;
  }

  &.like {
    .fa {
      padding: 5px;
      transition: 0.3s all;
      transform: scale(1);
      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &.button {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #82ca9c;
    margin-top: 15px;
    &:hover {
      text-decoration: none;
    }
  }
}
