@import "mixins/breakpoint";

body {
  font-family: "OpenSans", sans-serif;

  h1, h2, h3, h4 {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: normal;
  }

  h1 {
    font-size: 45px;
    padding: 10px 0;
    @include breakpoint(extra-small) {
      font-size: 26px;
    }
  }

  h2 {
    font-size: 26px;
    @include breakpoint(extra-small) {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 22px;
    padding: 10px 0;
    @include breakpoint(extra-small) {
      font-size: 14px;
    }
  }

  h4 {
    color: #fff;
    font-size: 45px;
    padding: 10px 0;
    @include breakpoint(extra-small) {
      font-size: 26px;
    }
  }

  p {
    font-size: 10px;
    line-height: 16px;
    margin-top: 20px;
    color: #959595;
  }

  a {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}