.about-us {
  display: flex;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 55px;
  h3, p, a {
    color: #fff;
  }

  a {
    &.read-more {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateX(0) translateY(-100%);
      margin-top: -35px;
      margin-left: 30px;
    }

    &.like {
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translateX(-100%) translateY(-100%);
      margin-top: -30px;
      margin-left: -30px;
    }
  }

  .about-us-item {
    position: relative;
    padding: 30px;
    padding-bottom: 55px;
    width: 33.3%;
    background-size: cover !important;
    &.large {
      width: 66.6%;
      @include breakpoint(extra-small-mobile) {
        width: 100%;
      }
    }

    @include breakpoint(extra-small-mobile) {
      width: 100%;
    }
  }

  ul.slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
    li {
      margin: 0px 5px;
      button {
        display: block;
        background-color: transparent;
        font-size: 0;
        height: 15px;
        width: 15px;
        border: 1px solid #ac8458;
        border-radius: 50%;
      }

      button {
        &:focus, &:active {
          border: none;
          outline: none;
        }
      }

      &.slick-active {
        button {
          background-color: #ac8458;
        }
      }
    }
  }
}

