.start-new {
  margin-top: 55px;
  margin-bottom: 55px;
  .content {
    column-count: 2;
    p {
      padding-right: 20px;
      &:nth-child(3) {
        @include breakpoint(small-tablet-portrait-up) {
          &:after {
            content: "";
            display: block;
            height: 52px;
            width: 100%;
          }
        }
      }
      @include breakpoint(mobile-landscape) {
        padding-right: 0;
        column-count: 1;
      }
    }
    @include breakpoint(small-tablet-portrait) {
      column-count: 1;
    }
  }
}